- var nid = `note-${cid}`

div.component.note(id=`${nid}-note`)
  div.header note #{cid}

  -
    var note_active_controls = [
      { label: "Active", type: "checkbox", elid: "active" },
      { label: "Send To", type: "select", elid: "send_to", options: [
        { label: "Channel", val: "channel" },
        { label: "Arp", val: "arp" }]},
    ]

    var note_mode_control = [
      { label: "Mode", type: "select", elid: "mode", onInput: "show-mode", options: [
        { label: "None", val: "none" },
        { label: "Transpose", val: "transpose" },
        { label: "Chord", val: "chord" }]},
    ]

    var note_channel_controls = []
    for (var i = 0; i < bank.activeChannels; i++) {
      note_channel_controls.push(
        { label: i, type: "checkbox", elid: `send_to-${i}` }
      )
    }

    var note_mode_oct_semi = [
      { label: "Octave", type: "range", elid: "octave" },
      { label: "Semitone", type: "range", elid: "semitone" }
    ]

  div.control2(id=`${nid}-mode-control`)
    div.subcontrol
      div.control2
        +control_inputs(nid, note_active_controls)
    div.subcontrol
      div.control8
        +control_inputs(nid, note_channel_controls)
    div.subcontrol
      div.control1
        +control_inputs(nid, note_mode_control)

  div.control1.mode-none(id=`${nid}-mode-none` style="display:none")

  div.control3.mode-transpose(id=`${nid}-mode-transpose` style="display:none")
    div.subcontrol
      div.control1
        +control_inputs(`${nid}-mode-transpose-`, note_mode_oct_semi)

  div.control3.mode-chord(id=`${nid}-mode-chord` style="display:none")
    - var c = 0
    while c < bank.note.modeChord_MaxNotes
      div.subcontrol
        div.control1
          +control_inputs(`${nid}-mode-chord-${c++}`, note_mode_oct_semi)
