-
  var part_mix_controls = [
    { name: "part_volume", label: "Volume" },
    { name: "part_pan", label: "Pan" },
    { name: "part_expression", label: "Expression" },
  ]

  var part_tone_controls = [
    { name: "part_attack", label: "Attack" },
    { name: "part_release", label: "Release" },
    { name: "part_harmonics", label: "Harmonics" },
    { name: "part_brightness", label: "Brightness" },
  ]

  var part_fx_controls = [
    { name: "part_reverb", label: "Reverb Depth" },
    { name: "part_chorus", label: "Chorus Depth" },
    { name: "part_dsp", label: "DSP Depth" }
  ]
h2 Part #{ch}
div.part_voice_selector(id='part-' + ch + '-voice-selector')
div.part_controls
  mixin control_inputs(controls)
    each control in controls
      - var control_id = `${control.name}_${ch}`
      div.part_row
        label(for=control_id)= control.label
        br
        input.part_control(
          type='range'
          name=control.name
          id=control_id
          value=midiToDom[part_values[control.name]]
        )
  div
    div.part_mix_controls
      +control_inputs(part_mix_controls)
  div
    div.part_tone_controls
      +control_inputs(part_tone_controls)
  div
    div.part_fx_controls
      +control_inputs(part_fx_controls)
div
  div.part_note_mode
    div
      input(type='checkbox' id='part-' + ch + '-recv-keys')
      label(for='part-' + ch + '-recv-keys') Receive Keyboard Notes
      br
      input(type='checkbox' id='part-' + ch + '-recv-midi' disabled)
      label(for='part-' + ch + '-recv-midi') Receive Midi Notes
    div
      label(for='note-mode') Part #{ch} Note Mode
      br
      select#note_mode
        option(value="note") Note
