mixin control_inputs(cid, controls)
  each control in controls
    - 
      var _id = `${cid}-${control.onInput}-${control.elid}`
      var _class = `control_input ${control.elid}`
    
    div.subcontrol
      if control.type != "checkbox" && control.label != ""
        label(for=_id)= control.label
        br
      case control.type
        when "select"
          select(id=_id class=_class)
            if "options" in control
              each option in control.options
                option(value=option.val)= option.label
        when "span"
          span(id=_id class=_class)
        default
          input(type=control.type id=_id class=_class)
      if control.type == "checkbox" && control.label != ""
        label(for=_id)= control.label
        br
